.scroll-bar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  top: 75px;
  overflow: hidden;
  width: auto;
  padding: 10px 35px 0 35px;
  z-index: 99;
  background: var(--c-grey);
  box-shadow: 0 0 15px var(--c-blue);
  margin-bottom: 30px;
  .list-menu {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    overflow: hidden;
    overflow-x: auto;
    transition: 0.6s left ease-in-out;
    border-bottom: 2px solid var(--c-dark-blue);

    .list-name {
    }
    .edit-list-name {
      width: fit-content;
      background-color: transparent;
      border: transparent;
    }
    .list {
      padding: 10px 10px;
      cursor: pointer;
      flex-shrink: 0;
      transition: 0.3s all ease-in-out;
      color: var(--c-blue);
      &.selected {
        color: var(--c-grey);
        background-color: var(--c-dark-blue);
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
      }
    }
  }

  .add-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 10px 0;
    padding: 5px 10px;
    flex-wrap: wrap;
    border-radius: 30px;
    &.new-add {
      border: 1px solid var(--c-dark-blue);
      padding: 0 5px;
      margin: 5px 0;
    }

    .add-list-input {
      pointer-events: none;
      width: 0;
      opacity: 0;
      color: var(--c-silver);
      background-color: transparent;
      padding-right: 5px;
      transition: 0.3s all ease-in-out;

      &.new-add {
        width: 100px;
        height: 20px;
        opacity: 1;
        border: 0px transparent;
        border-right: 1px solid var(--c-dark-blue);
        pointer-events: all;
      }
    }
    .add-list {
      background-color: var(--c-dark-blue);
      padding: 8px 20px;
      font-size: 12px;
      margin-left: 5px;
      margin: 5px;
      width: max-content;
      border-radius: 30px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s box-shadow ease-in-out;
      &:hover {
        box-shadow: 1px 1px 5px var(--c-dark-blue);
      }
    }
    .created-by {
      font-size: 16px;
      color: var(--c-dark-blue);
      bottom: 5px;
      right: 10px;
      margin: 10px 0;
      opacity: 0.5;
    }
  }

  .btn-scroll {
    background-color: var(--c-dark);
    border: 0;
    font-size: 18px;
    color: var(--c-silver);
  }
  .scroll-arrows {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 2;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  .share-list {
    &.box {
      border: 1px solid var(--c-dark-blue);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      margin: 15px 0;
      border-radius: 15px;
      gap: 15px;
    }
    button {
      opacity: 1;
      position: unset;
      pointer-events: unset;
      text-align: center;
      transition: 0.3s all linear;
      background-color: var(--c-grey);
      width: fit-content;
      padding: 5px 15px;
      justify-self: center;
      border-radius: 15px;
      border: 1px solid var(--c-dark-blue);
      color: var(--c-dark-blue);
      font-size: 18px;
      z-index: 2;
      &:disabled {
        opacity: 0;
        position: absolute;
        pointer-events: none;
      }
    }
    input {
      width: 90%;
      font-size: 18px;
      color: var(--c-blue);
      background-color: var(--c-grey);
      position: relative;
      z-index: 3;
      border: none;
      &::placeholder {
        color: var(--c-dark-blue);
      }
    }
    cursor: pointer;
  }
}
.tasks {
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--c-blue);
  border-radius: 15px;
}
::-webkit-scrollbar-track {
  background-color: var(--c-dark-blue);
  border-radius: 15px;
}
