<ion-content [fullscreen]="true" [scrollY]="false">
  <div id="container" style="height: 100%">
    <section class="home">
      <div class="wrap">
        <div class="title">
          <h1>{{ isReset ? "Reset Password" : (isRegister ? "Register" : "Login") }}</h1>
        </div>
        <form
          class="login"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit(isRegister)"
        >
          <div class="input-wrapper">
            <input
              class="i"
              id="usenName"
              type="email"
              formControlName="usenName"
              placeholder=" "
              autocomplete="current-password"
            />
            <label class="l" for="usenName">Email :</label>
          </div>

          <div class="input-wrapper" *ngIf="!isReset">
            <input
              class="i"
              id="password"
              type="password"
              formControlName="password"
              [ngClass]="isRegister ? 'seeThePass' : ''"
              placeholder=" "
              autocomplete="current-password"
            />
            <label class="l" for="password">Password: </label>
          </div>
          <div class="input-wrapper" *ngIf="isRegister && !isReset">
             <input
              class="i"
              id="passwordConfirm"
              type="password"
              formControlName="passwordConfirm"
              [ngClass]="isRegister ? 'seeThePass' : ''"
              placeholder=" "
              autocomplete="current-password"
            />
            <label class="l" for="passwordConfirm">Confirm Password:</label>
          </div>
          
          <div class="forgot-pass" *ngIf="!isRegister && !isReset">
             <span (click)="toggleReset()">Forgot Password?</span>
          </div>

          <button type="submit" [disabled]="loginForm.status == 'INVALID' && !isReset">
            {{ isReset ? "Send Reset Link" : (isRegister ? "Register" : "Login") }}
          </button>
        </form>

        <div class="coming-soon">
          <span>{{ this.dataStore.loginError() }}</span>
          
          <button (click)="isReset ? toggleReset() : register()">
            {{ isReset ? "Back to Login" : (isRegister ? "Click here to Log-in" : "Click here to Register") }}
          </button>
        </div>
      </div>
      <div class="footer">
        <span>© 2023 SmartestAppes</span>
        <span>All rights reserved</span>
      </div>
    </section>
  </div>
</ion-content>
