<section class="header-panel">
  <div class="date-info">
    <div class="day">Today</div>
    <div class="date">{{ todayDate | date : "dd MM yyyy" }}</div>
  </div>
  <!-- <div class="app-info">
    <div class="app-logo">KOKO's</div>
    <div class="app-name">DoDoe's</div>
  </div> -->
  <div class="user">
    <!-- <div class="user-pic">
      <img
        src="https://media.licdn.com/dms/image/D4D03AQGlKb0GuLIoww/profile-displayphoto-shrink_800_800/0/1677005587630?e=1712188800&v=beta&t=Cao9f_kua7ydDEJgn3dOa2RZZnpBqFzCIrJOmtkcBnE"
        alt="Ppic"
      />
    </div> -->
    <div class="user-name">{{ loginName }}</div>
  </div>
</section>
