.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-grey);
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: -webkit-fill-available;
  pointer-events: none;
  .footer-menu {
    .menu-btn {
      background-color: var(--c-dark-blue);
      transition: 0.3s all ease-in-out;
      &:hover {
        background-color: var(--c-blue);
        scale: 1.1;
        box-shadow: 1px 1px 10px;
        color: var(--c-blue);
      }
    }
  }

  .fast-add-list {
    pointer-events: all;

    background-color: var(--c-silver);
    padding: 30px 23px;
    position: relative;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    border: 0 transparent;
    top: -30px;

    z-index: 99;
    border: 3px solid var(--c-dark-blue);
    &:disabled {
      .line {
        background-color: var(--c-blue);
        opacity: 0.5;
      }
      &:hover {
        scale: 1;
        box-shadow: 1px 1px 10px var(--c-silver);
        color: var(--c-silver);

        .line {
          background-color: var(--c-dark-blue);
          opacity: 0.5;
        }
      }
    }

    &:hover {
      scale: 1.2;
      box-shadow: 1px 1px 10px var(--c-silver);
      color: var(--c-silver);

      .line {
        background-color: var(--c-blue);
      }
    }

    // &:before {
    //   width: 1200px;
    //   height: 15px;
    //   border-top: 10px solid var(--c-silver);
    //   border-right: 10px solid var(--c-silver);
    //   border-bottom: 10px solid transparent;
    //   border-left: 10px solid transparent;
    //   content: "";
    //   position: absolute;
    //   top: 20px;
    //   left: -1205px;
    //   z-index: -1;
    //   border-radius: 0 30px 0 0;
    //   pointer-events: none;
    // }
    // &:after {
    //   width: 1200px;
    //   height: 15px;
    //   border-top: 10px solid var(--c-silver);
    //   border-right: 10px solid transparent;
    //   border-bottom: 10px solid transparent;
    //   border-left: 10px solid var(--c-silver);
    //   content: "";
    //   position: absolute;
    //   top: 20px;
    //   right: -1205px;
    //   z-index: -1;
    //   border-radius: 30px 0 0 0;
    //   pointer-events: none;
    // }

    .line {
      position: absolute;
      width: 18px;
      height: 3px;
      background-color: var(--c-grey);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      &.rotate {
        position: relative;
        left: 4%;
        width: 19px;
        transform: rotate(90deg);
      }
    }
  }

  .copy-right {
    position: absolute;
    left: 15px;
    color: var(--c-dark-blue);
  }
}

.btn {
  padding: 10px 30px;
  border: 3px solid var(--dark);
  border-radius: 30px;

  font-size: 14px;
  font-weight: 600;
}
