.meal-deatails {
  margin: 0 auto;
  img {
    width: 100%;
  }
  .title {
    position: sticky;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    padding: 0 30px;
    min-height: 60px;
    height: fit-content;
    margin-top: -20px;
    z-index: 2;
    background-color: var(--c-grey);
    color: var(--c-blue);
    text-align: center;
  }
  .meal-cook-wrapper {
    display: grid;
    grid-template-columns: 3.5fr 2fr;
    .ingredients {
      .ingredien-info {
        padding: 15px 45px 15px 15px;
        border-bottom: 2px solid var(--c-blue);
        color: var(--c-grey);
        font-size: 14px;
        position: relative;
      }
      .ingredien-add {
        cursor: pointer;
        font-size: 22px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        top: 50%;
        right: 10px;
        border-radius: 50%;
        background-color: var(--c-blue);
        height: 30px;
        width: 30px;
      }
    }
    .meal-instructors {
      width: 90%;
      margin: 13px auto;
      line-height: 24px;
    }
  }
}
