<ion-content [fullscreen]="true">
  <section class="meal-deatails">
    <img src="{{ recipie?.strMealThumb }}" alt="meak-pic" />
    <div class="title">{{ recipie?.strMeal }}</div>

    <div class="meal-cook-wrapper">
      <div
        class="meal-instructors"
        [innerHTML]="recipie?.strInstructions"
      ></div>
      <ul class="ingredients">
        @for(ing of recipie | keyvalue; track $index) { @if(recipie &&
        ing.key.includes('strIngredient') && recipie[ing.key] != '') {
        <div class="ingredien-info">
          <div class="name">{{ recipie[ing.key] }}</div>
          <div class="amont">
            {{ recipie['strMeasure' + ing.key.split('strIngredient')[1]] }}
          </div>
          <div
            class="ingredien-add"
            (click)="addIng(recipie['strMeasure' + ing.key.split('strIngredient')[1]], recipie[ing.key])"
          >
            +
          </div>
        </div>
        } }
      </ul>
    </div>
  </section>
</ion-content>
