.task {
  padding: 6px 25px;
  margin: 10px auto;
  width: 300px;
  min-width: 250px;
  height: max-content;
  min-height: 100px;
  // transition: 0.3s height ease-in-out;
  position: relative;
  border-radius: 15px;
  line-height: normal;
  animation: appear 0.3s;
  background-color: var(--c-grey);

  overflow: hidden;
  &.extend {
    height: max-content;
  }
  &.isCheckBox {
    min-height: 40px;
    height: min-content;
  }
  .effect-section {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    width: 17px;
    transition: all 0.3s ease;
    &.checkbox {
      width: 35px;
      opacity: 0.1;
      &.didIt {
        opacity: 1;
      }
    }
  }
  .task-section-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-section {
      .close {
        position: absolute;
        top: 11px;
        right: 15px;
        font-size: 12px;
        font-weight: 600;
        width: fit-content;
        transition: 0.3s color ease-in-out;
        cursor: pointer;
        color: var(--c-silver);
        &:hover {
          color: red;
        }
      }
      .task-item {
        font-size: 18px;
        padding: 10px 25px;
        letter-spacing: normal;
        width: max-content;
        color: var(--c-dark-blue);

        .task-name {
          &.overline {
            text-decoration: line-through;
            text-decoration-thickness: 3px;
          }
          &.edit {
            font-size: 18px;
            letter-spacing: normal;
            background-color: transparent;
            border: transparent;
            color: var(--c-gray);
            width: -webkit-fill-available;
          }
        }
      }
      .descripption-task {
        font-size: 12px;
        position: relative;
        bottom: 0px;
        padding: 0 25px;
        width: -webkit-fill-available;
        color: var(--c-dark-blue);
        .auther-task {
        }
        .date-task {
        }
        .status-task {
          width: 100px;
          margin-top: 15px;
          .status-state {
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            color: var(--c-silver);
          }
        }
      }
    }
    .i-icon {
      position: relative;
      margin: 0 15px;
      img {
        filter: invert(264%) sepia(215%) saturate(207%) hue-rotate(89deg)
          saturate(475%) brightness(100%) contrast(304%);
        width: 20px;
      }
      font-size: 24px;
    }
  }
  .i-eye {
    &.i-info {
      opacity: 1;
      position: relative;
    }
  }
  .i-info {
    opacity: 0;
    position: absolute;
    transition: 0.3s opacity linear;
    pointer-events: none;
    font-size: 16px;
    width: -webkit-fill-available;
    color: var(--c-dark-blue);
    word-wrap: break-word;
    margin-left: 30px;
    z-index: 10;
    font-weight: 600;

    li {
      padding: 15px 0;
    }
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
